


/* Header */

.logo {display: block;
            margin: 0 auto;
            width: 200px;
}


@media screen and (min-width: 800px) {

.logo {width: 300px;
      padding-top: 2em;
      font-size: 1.2em;
}
.
}

@media screen and (max-width: 800px) {

.headercontent {display: flex;
                align-items: center;
                justify-content: center;
}
}

/* Navigation */

nav li {font-family: 'Khula', sans-serif;
        list-style-type: none;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 16px;
        text-decoration: none;
}

nav ul {text-align: center;
        padding: 5px 5px 5px 5px;
        list-style-type: none;
        text-decoration: none;
}

.menubutton {width: 48px;
            padding-right: 20px;
            padding-top: 27px;
}

a {text-decoration: none;
  color: #3D3D38;
}


@media screen and (min-width: 800px) {

  a:hover {background-color: #3D3D38;
          color: #D2D1C0;
  }
}

@media screen and (max-width: 800px) {

  ul a:active {color: #D2D1C0;
  }
}

/* Body */
.prices, .event {
  font-family: 'Khula', sans-serif;
  font-size: .90em;
}

.drinks, .dates {
  font-weight: bold;
}
}

.sugar {
  font-weight: bolder;
  display: block;
  padding: 0em 12em 0em 12em;
}


@media screen and (min-width: 500px) {
  .body-copy {
    padding: 0em 2em 0em 2em;
  }
}

@media screen and (min-width: 1200px) {
  .body-copy {
    text-align: center;
    padding: 0em 12em 0em 12em;
  }
}

.bakery-good {
  font-weight: bold;
}

.muffin-flavors {
  font-size: .90em;
}

.wholesale {font-style: italic;
            color: gray;
            padding-top: 5px;
}

.wholesale-link {padding: 4px 4px 4px 4px;
}

div {
  display: inline-block;
  margin: 0em 0em 0em 13em;
}

.sugar {
  font-weight:bold;
}

body {
  color: #3D3D38;
  margin: 0 auto;
  font-family: 'Lora', serif;
}


p {margin: 50px;
  font-size: 1em;
  line-height: 1.5em;
}


h1,h2,h3 {font-family: 'Khula', sans-serif;
      text-align: center;
}

h1 {font-size: 2em;
}

h2 {font-size: 1.6em
}

li {list-style-type: none;
}

div, section, main, aside, header, footer {
  padding: .75em;
  margin-bottom: 0;
}

img {max-width: 100%;
}

* {
  box-sizing: border-box;}

  /* Footer */

footer {text-align: center;
         font-family: 'Khula', sans-serif;
         color: #D2D1C0;
         background-color: #3D3D38;
}

footer dt {padding-top: 1em;
          font-size: 1em;
          font-weight: bold;
          padding-bottom: .2em;
}

footer dd {margin: 0 auto;
          font-size: .8em;
          padding-right: 1em;
          padding-left: 1em;
          line-height: 1.3em;
          font-family: 'Lora', serif;
}

footer h2 {border-bottom: 1.3px solid;
          margin: 0% 25% 0% 25%;
          padding-bottom: .5em;
}

@media screen and (min-width: 400px) {

  footer dt {font-size: 1.2em;
  }
  footer dd {font-size: 1em;
  }
}

ul {
  padding-left: : 5em;
}

  /* Nav script link */

  HTML  CSS  JS  Result
  Edit on
  a.menu-link {
          float: right;
              display: block;
              padding: 1em;
          }
          nav[role=navigation] {
              clear: both;
              -webkit-transition: all 0.3s ease-out;
              -moz-transition: all 0.3s ease-out;
              -ms-transition: all 0.3s ease-out;
              -o-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out;
          }
          .js nav[role=navigation] {
              overflow: hidden;
              max-height: 0;
          }
          nav[role=navigation].active {
              max-height: 15em;
          }
          nav[role=navigation] ul {
              margin: 0;
              padding-bottom: 1em;
          }
          nav[role=navigation] li a {
              display: block;
              padding: 0.8em;
          }

          @media screen and (min-width:800px) {
              a.menu-link {
                 display: none;
              }
              .js nav[role=navigation] {
                  max-height: none;
              }
              nav[role=navigation] ul {
                  margin: 0 0 0 -0.25em;
                  border: 0;
              }

              nav[role=navigation]  li {
                  display: inline-block;
                  margin: 0 0.25em;
              }
              nav[role=navigation] li a {
                  border: 0;
              }
          }
