


/* Header */

header img {display: block;
            margin: 0 auto;
            padding-top: 2em;
}

.logo {width: 200px;
}

/* Navigation */

nav li {font-family: 'Khula', sans-serif;
        list-style-type: none;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 15px;
}

nav ul {text-align: center;
        padding: 10px 10px 10px 10px;
}



.menubutton {width: 46px;
            padding: 10px;
}



@media screen and (min-width: 800px) {

  a:hover {background-color: #3D3D38;
          color: #D2D1C0;
  }
}

@media screen and (max-width: 800px) {

  ul a:active {background-color: #3D3D38;
          color: #D2D1C0;
  }
}

/* Body */


body {
  max-width: 1000px;
  color: #3D3D38;
  margin: 0 auto;
}


p {font-family: 'Lora', serif;
  margin: 35px;
  font-size: 1em;
  line-height: 1.5em;
}

.boldbody {font-weight: 900;
          font-size: 1.25em;
          font-family: 'Khula', sans-serif;
}

h1,h2,h3 {font-family: 'Khula', sans-serif;
      text-align: center;
}

h1 {font-size: 2em;
}

h2 {font-size: 1.6em
}


li {list-style-type: none;
}

div, section, main, aside, header, footer {
  padding: .5em;
  margin-bottom: 1em;
}

img {max-width: 100%;
}


* {
  box-sizing: border-box;}

  /* Footer */

  footer {text-align: center;
         font-family: 'Khula', sans-serif;
         color: #D2D1C0;
         background-color: #3D3D38;
}

footer dd {margin: 0 auto;
}

  /* Nav script link */

  HTML  CSS  JS  Result
  Edit on
  a.menu-link {
          float: right;
              display: block;
              padding: 1em;
          }
          nav[role=navigation] {
              clear: both;
              -webkit-transition: all 0.3s ease-out;
              -moz-transition: all 0.3s ease-out;
              -ms-transition: all 0.3s ease-out;
              -o-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out;
          }
          .js nav[role=navigation] {
              overflow: hidden;
              max-height: 0;
          }
          nav[role=navigation].active {
              max-height: 15em;
          }
          nav[role=navigation] ul {
              margin: 0;
              padding: 0;
              border-top: 1px solid #808080;
          }
          nav[role=navigation] li a {
              display: block;
              padding: 0.8em;
              border-bottom: 1px solid #808080;
          }

          @media screen and (min-width:800px) {
              a.menu-link {
                 display: none;
              }
              .js nav[role=navigation] {
                  max-height: none;
              }
              nav[role=navigation] ul {
                  margin: 0 0 0 -0.25em;
                  border: 0;
              }

              nav[role=navigation]  li {
                  display: inline-block;
                  margin: 0 0.25em;
              }
              nav[role=navigation] li a {
                  border: 0;
              }
          }
