body {
  max-width: 1000px;
  padding: 1em;
  font-family: 'Lora', Arial, sans-serif;
}

div, section, main, aside, header, footer {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}


/* img max-width: 100% */

h1, h2, h3, h4 {
  font-family: 'Khula', sans-serif;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;}
